@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@400;700&display=swap");
#map {
  height: 350px;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.custom-map-control-button {
  background-color: var(--blanco-color);
  border: 0;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
}

.custom-map-control-button:hover {
  background-color: var(--gris4-color);
  color: var(--blanco-color);
}

.map__wrap {
  height: 400px;
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}
.map__search {
  width: 30%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
.map__search-directionInput {
  width: 200px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid var(--gris4-color);
  padding: 10px;
  margin-top: 10px;
}
.map__search-button {
  width: 80px;
  height: 24px;
  background-color: var(--gris1-color);
  border-radius: 5px;
  border: 1px solid var(--gris4-color);
  color: var(--gris7-color);
  margin-top: 10px;
}
.map__search-button:hover {
  background-color: var(--gris4-color);
  color: var(--blanco-color);
}
.map__buttonNear {
  display: block;
  width: 290px;
  height: 24px;
  margin: 0 auto;
  background-color: var(--gris1-color);
  border-radius: 5px;
  border: 1px solid var(--gris4-color);
  color: var(--gris7-color);
  margin-top: 10px;
  margin-bottom: 30px;
}
.map__buttonNear:hover {
  background-color: var(--gris4-color);
  color: var(--blanco-color);
}
.map__results {
  width: 800px;
  margin: 0 auto;
  background-color: var(--gris1-color);
  display: none;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 10px;
}
.map__results-active {
  display: block;
}
.map__results ol {
  list-style: none;
}
.header-navbar {
  z-index: 10;
}
.header-navbar h6 {
  display: none;
}

.navbar {
  display: flex;
  justify-content: right;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}
.navbar .navbar__categories--mobile {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
  line-height: 30px;
  width: 100%;
}
.navbar .navbar__categories--mobile li {
  list-style: none;
  font-family: "Archivo", sans-serif !important;
  font-size: 12px;
  margin-right: 50px;
  font-weight: 600;
}
.navbar .navbar__categories--mobile .close {
  cursor: pointer;
  width: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.navbar .navbar__categories--mobile-hidden {
  display: none;
}
.navbar .navbar__container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
  height: 50%;
}
.navbar .navbar__categories {
  display: none;
}
.navbar .navbar__categories a:hover {
  cursor: pointer;
}
.navbar .navbar__ontainer-iconsleft {
  display: flex;
  width: 20%;
}
.navbar .navbar__container-logo {
  display: flex;
  width: 50%;
  height: 100%;
}
.navbar .navbar__container-iconsright {
  display: flex;
  width: 25%;
}
.navbar .navbar__logo {
  width: 130px;
  height: 50px;
}
.navbar .navbar__burger {
  width: 20px;
  height: 15px;
  margin: auto;
  background-image: url(../../assets/nav/hamburger-icon.png);
  cursor: pointer;
  border: none;
}
.navbar .navbar__user,
.navbar .navbar__search {
  margin-left: 20px;
  margin: auto;
}

@media only screen and (min-width: 1000px) {
  .navbar__header {
    display: flex;
    justify-content: right;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .navbar__header h6 {
    display: flex;
    height: 15px;
    color: white;
    font-family: "Roboto", sans-serif !important;
  }
  .navbar__header .navbar__categories--mobile {
    display: none;
  }
  .navbar__header {
    background-color: #222222;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
  }
  .navbar__header .navbar {
    display: inline-block;
    width: 75%;
    height: 80px;
    background-color: white !important;
    margin: auto;
    margin-top: 40px;
  }
  .navbar__header .navbar .navbar__categories {
    display: inline-flex;
    width: 90%;
    height: 20px;
    margin-top: 20px;
    margin-right: 100px;
  }
  .navbar__header .navbar .navbar__categories li {
    list-style: none;
    font-family: "Archivo", sans-serif !important;
    font-size: 12px;
    margin-right: 50px;
    font-weight: 600;
  }
  .navbar__header .navbar .navbar__container-icon {
    display: flex;
    width: 20%;
  }
  .navbar__header .navbar .navbar__container-logo {
    display: flex;
    width: 60%;
    height: 100%;
    margin-left: -80px;
    margin-top: -30px;
  }
  .navbar__header .navbar .navbar__container-icons-right {
    display: flex;
    width: 20%;
    margin-right: 90px;
  }
  .navbar__header .navbar .navbar__logo {
    width: 180px;
    height: 80px;
    margin-top: 20px;
    width: 170px;
    height: 70px;
    margin-left: 20px;
  }
  .navbar__header .navbar .navbar__person,
.navbar__header .navbar .navbar__search {
    border: 1px solid rgba(171, 167, 167, 0.459);
    padding: 10px;
    width: 35px;
  }
  .navbar__header .navbar .navbar__hamburger {
    display: none;
  }
}
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Archivo", sans-serif;
}

* {
  /* border: 0.1px solid; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --archivo-font: "Archivo", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --old-font: "Old Standard TT", serif;
  --rosa-color: #de5777;
  --blanco-color: #ffffff;
  --blanco2-color: #f8f8f8;
  --blanco3-color: #f9f9f9;
  --gris1-color: #e5e5e5;
  --gris2-color: #c2c2c2;
  --gris3-color: #bdbdbd;
  --gris4-color: #777777;
  --gris5-color: #333333;
  --gris6-color: #292929;
  --gris7-color: #222222;
  --casiNegro-color: #111111;
  --negro-color: #000000;
  --marron-color: #bead8e;
}

body {
  min-width: 320px;
  font-family: var(--old-font);
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */