.h1 {
    text-transform: capitalize;
    font-family: var(--old-font);
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.2px;
  }
  
  .h2 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.8px;
    color: var(--gris4-color);
    font-family: var(--archivo-font);
  }
  
  .h3 {
    text-transform: capitalize;
    font-family: var(--old-font);
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.2px;
  }
  
  .h4 {
    text-transform: capitalize;
  
    font-family: var(--old-font);
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -.9px;
  }
  //buttons
  .buttonS{
    width: 220px;
        height: 50px;
        border: 1.5px solid var(--gris4-color);
        margin-bottom: 10px;
        font-family: var(--archivo-font);
        letter-spacing: 2.8px;
        text-align: center;
        cursor: pointer;
        padding: 12px;
        &:hover{
            background-color: var(--marron-color);
            border:1.5px solid var(--marron-color) ;
  }}

  .buttonM{
    width: 250px;
        height: 50px;
        border: 1.5px solid var(--gris4-color);
        margin-bottom: 10px;
        font-family: var(--archivo-font);
        letter-spacing: 2.8px;
        text-align: center;
        cursor: pointer;
        padding: 12px;
        &:hover{
            background-color: var(--marron-color);
            border:1.5px solid var(--marron-color) ;
  }}
  // Layout
  .wrapper-x {
    margin-left: 52px;
    margin-right: 52px;
  
  }
  
  .px-20 {
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .mx-20 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .mb-40 {
    margin-bottom: 40px;
  }

  .margin-auto {
    margin: 0 auto;
  }