@use '../utils/_mixins';
#map {
  height: 350px;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.custom-map-control-button {
  background-color: var(--blanco-color);
  border: 0;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
}
.custom-map-control-button:hover {
  background-color: var(--gris4-color);
  color: var(--blanco-color);
}

.map {
  font-family: var(--archivo-font);
  &__wrap {
    height: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
  }
  &__search {
    @include mixins.flexbox(row, nowrap, space-between, 10px);
    width: 290px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    
    &-input {
      width: 200px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid var(--gris4-color);
      padding: 10px;
      margin-top: 10px;
    }
    &-button {
      width: 90px;
      height: 30px;
      background-color: var(--gris1-color);
      border-radius: 5px;
      border: 1px solid var(--gris4-color);
      color: var(--gris7-color);
      margin-top: 10px;
      padding: 0 10px;
    }
    &-button:hover {
      background-color: var(--gris4-color);
      color: var(--blanco-color);
    }
  }
  &__buttonNear {
    display: block;
    width: 290px;
    height: 30px;
    margin: 0 auto;
    background-color: var(--gris1-color);
    border-radius: 5px;
    border: 1px solid var(--gris4-color);
    color: var(--gris7-color);
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__buttonNear:hover {
    background-color: var(--gris4-color);
    color: var(--blanco-color);
  }
  &__select {
    display: block;
    width: 290px;
    height: 30px;
    margin: 0 auto;
    background-color: var(--gris1-color);
    border-radius: 5px;
    border: 1px solid var(--gris4-color);
    color: var(--gris7-color);
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__results {
    width: 800px;
    margin: 0 auto;
    background-color: var(--gris1-color);
    display: none;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 10px;
    &-active {
      display: block;
    }
    & ol {
      list-style: none;
    }
  }
  @media only screen and (min-width: 500px) {
    &__wrap {
    }
  }
}
