@use '../utils/_mixins';

.menu{
    margin-bottom: 70px;
    &__donutImg{
        width: 115px;
        height: 115px;
        position: absolute;
        right: -25px;
        top: -100px;
    }
    &__subtitle{
        margin-bottom: 20px;
    }
    &__title{
        margin-bottom: 30px;
    }
}
.food-swiper {
  margin-bottom: 110px;
  //position: relative;

  &__button {
    // top = 100% + design margin + half button
    top: calc(100% + 24px + 16px) !important;

    &--prev {
      width: 40px !important;
      left: 215px !important;
    }

    &--next {
      width: 40px !important;
      right: 30px !important;
    }

    &.swiper-button-disabled {
      background-color: var(--gris2-color);
    }
  }
}


.food-images-swiper {
    text-align: center;
    position: relative;
    object-fit: cover;
}
.justifiedBullet{
    margin-top: 15px;
    text-align: center;
}

.food {
  @include mixins.flexbox(row, nowrap, space-between, 30px);
  align-items: center;

  &__img {
    min-width: 120px;
    height: 120px;
  }

  &__h4 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  &__p{
    font-family: var(--archivo-font);
  }
}