@use '../utils/_mixins';

.price {
  font-weight: 700;
  line-height: 43px;
  color: var(--marron-color);
  font-family: var(--archivo-font);

  &--booking {
    @include mixins.flexbox(row, nowrap, center, 20px);
  }

  &__amount {
    font-size: 32px;
    &--strikethrough{
      font-size: 25px;
      text-decoration: line-through;
    }
    &--same-size {
      font-size: 18px;
      line-height: 17px;
    }
  }

  &__night {
    font-size: 13px;

    &--same-size {
      font-size: 16px;
      line-height: 17px;
    }
  }

  &--previous {
    line-height: 25px;
    & .price__amount {
      font-size: 23px;
    }

    & .price__night {
      font-size: 11px;
      line-height: 12px;
    }
  }

  &--offer {
    color: var(--rosa-color);
  }
}