@use '../utils/_mixins';

.presentation{
    width: 100%;
    margin-top: 70px;
    background-color: var(--gris5-color);
    color: var(--blanco-color);
    padding: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    
    &__subtitle{
        color: var(--blanco-color) !important;
        margin-bottom: 20px;
    }
    &__title{
        margin-bottom: 20px;
    }
    &__buttonsContainer{
    @include mixins.flexbox(column,nowrap,flex-start,20px);
    }
}