@use "../utils/_mixins";

.presentation {
  width: 100%;
  background-color: var(--gris5-color);
  color: var(--blanco-color);
  padding: 20px;
  padding-top: 135px;
  padding-bottom: 70px;
  &__container {
    @media (min-width: 768px) {
      max-width: 900px;
      margin: auto;
    }
  }
  &__subtitle {
    color: var(--blanco-color) !important;
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__buttonsContainer {
    @include mixins.flexbox(column, nowrap, flex-start, 20px);
    @media (min-width: 768px) {
        @include mixins.flexbox(row, nowrap, flex-start, 60px);
    }
  }

}
