.roomDetails{
    &__subtitle{
        margin-bottom: 20px;
    }
    &__title{
        margin-bottom: 30px;
    }
    &__img{
        width: 100%;
        max-width: 400px;
        object-fit: cover;
    }
    &__check{
        background-color: white;
        color: var(--gris7-color);
        padding: 0 40px;
        font-family: var(--archivo-font);
        &--title{
            font-size: 18px;
            line-height: 20px;
            letter-spacing: -0.54px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 36px;
        }
        &--form{
            padding-bottom: 0;
        }
        &--label{
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            margin-bottom: 13px;         
        }
        &--input{
            height: 60px;
            border-bottom: none;
            background-color: var(--blanco3-color);
            margin-bottom: 20px;
            position: relative; 
            width: 100%;
            color: var(--gris4-color);
            padding: 14px 24px;          
        }
        &--btn{
            width: 100%;
            padding-right: 26px;
            padding-left: 26px;
            color: white;
            background-color: var(--marron-color);
            border: 2px solid var(--marron-color);
            &:hover{
                background-color: white;
                color: var(--marron-color);
            }           
        }
    }
    &__text{
        color: var(--gris4-color);
        margin-bottom: 30px;      
        font-family: var(--roboto-font);  
    }
}
.founder{
    text-align: center;
padding: 60px 28px 41px;
    &__img{
        width: 150px;
        height: 150px;
        border-radius: 150px;
        background-color: var(--gris3-color);
        margin: 0 auto 38px;
        position: relative;
        object-fit: cover;
    }
    &__name{
        margin-bottom: 20px;
    }
    &__subtitle{
        color: var(--marron-color);
        margin-bottom: 30px;
    }
    &__text{
        font-family: var(--roboto-font);
        color: var(--gris4-color);
    }
}
.cancellation{
    &__text{
        font-family: var(--roboto-font);
        color: var(--gris4-color);
    }
}