#map {
    height: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
   
  }
  .custom-map-control-button {
    background-color: var(--blanco-color);
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    
  }
  .custom-map-control-button:hover {
    background-color: var(--gris4-color);
    color: var(--blanco-color);
  }